
<header 
		[ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
		<h2>{{medium}}</h2>
		<div *ngIf="mediaItems">{{ mediaItems | categoryList }}</div>
</header>

<section>
    <app-media-item *ngFor="let item of mediaItems"
        [mediaItem]="item"
        (delete)="onMediaItemDelete($event)"
        [ngClass]="{ 'medium-movies': item.medium === 'Movies', 
                'medium-series': item.medium === 'Series' }">
    </app-media-item>
</section>

<footer>
    <a routerLink="/add">
        <img src="../../assets/01.png" alt="Add Form">
    </a>
</footer>
